@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Satoshi';
    src: url(/assets/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/Variable/Satoshi-Variable.ttf);
    font-weight: 900;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url(/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}